/backend/.env
.env

.cursorrules
*.DS_Store

__pycache__/
*.pyc
*.bak

backend/.pytest_cache/

frontend/node_modules/
frontend/package-lock.json
frontend/dist/

ml/models/*.joblib
ml/evaluation/outputs/